include ../static/layout

body
  div(class='container')
    div(class='row')
      div(class='col-md-10')
      h3 List of all participants : 
        strong #{n}
      p
      form(method='post')
        table(class='table table-striped')
          tr
          th No.
          th Email
          th Password
          th Registered at
          th Status
          th Edit
          th Delete
          th Activate
          each user in users
            tr
              td=user.index
              td=user.email
              td=user.password
              td=user.registered
              td None/Activated
              td
                a(href='./list/#{user.email}', class='btn btn-primary', name='edit', value='Edit') Edit
              td
                a(href='./list/#{user.email}/delete', class='btn btn-danger', name='delete', value='Delete') Delete
              td
                input(type='submit' class='btn btn-success' name='activate' value='Activate')
      a(href="./home") Back to Dashboard        
    
  
